.container {
    background: var(--primary-bg-color);
    padding: 23px;
    min-height: 100vh;
}

.container h1 {
    color: #fff;
    margin-bottom: 10px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 45px;
    background: #626262;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    margin-bottom: 30px;
}

.txnBarwrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
}

 @media (max-width: 767px){
    .container h1 {
        text-align: center;
    }

    .dashboard {
        padding: 16px;
        grid-template-columns: 1fr;
        gap: 24px 
    }

    .txnBarwrapper {
        grid-template-columns: 1fr;
    }
 }

